In [1]:
import numpy as np
import pandas as pd

# Generate test data

In [2]:
num_frames = 5
num_foragers = 3

np.random.seed(42)

data = {
    "x": np.random.randn(num_frames * num_foragers),
    "y": np.random.randn(num_frames * num_foragers),
    "time": np.tile(np.arange(num_frames), num_foragers),
    "forager": np.concatenate([i * np.ones(num_frames) for i in range(num_foragers)]),
}
foragersDF = pd.DataFrame(data)

# add nan values
nan_ind = [4, 9, 6]
foragersDF.loc[nan_ind, ["x", "y"]] = np.nan

# remove values for certain time points
drop_ind = [12, 6, 14]
drop_t = foragersDF["time"][drop_ind].to_list()
drop_f = foragersDF["forager"][drop_ind].to_list()
foragersDF = foragersDF.drop(drop_ind)

foragersDF

           x         y  time  forager
0   0.496714 -0.562288     0      0.0
1  -0.138264 -1.012831     1      0.0
2   0.647689  0.314247     2      0.0
3   1.523030 -0.908024     3      0.0
4        NaN       NaN     4      0.0
5  -0.234137  1.465649     0      1.0
7   0.767435  0.067528     2      1.0
8  -0.469474 -1.424748     3      1.0
9        NaN       NaN     4      1.0
10 -0.463418  0.110923     0      2.0
11 -0.465730 -1.150994     1      2.0
13 -1.913280 -0.600639     3      2.0

# Object creation functions 
dataObject(df) must display a warning when df contains nans and/or if any timeframes are incomplete

In [3]:
from collab2.foraging.toolkit import (
    dataObject,
    rescale_to_grid,
    subset_frames_evenly_spaced,
)

foragersDF_scaled = rescale_to_grid(foragersDF, size=5)

In [4]:
foragers_object = dataObject(foragersDF_scaled)

/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:29: UserWarning: Nan values in data. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`
  warnings.warn(f"Nan values in data. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`")
/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:40: UserWarning: Missing frames encountered for forager 1, adding NaN fillers. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`
  warnings.warn(f"Missing frames encountered for forager {f}, adding NaN fillers. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`")
/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:40: UserWarning: Missing frames encountered for forager 2, adding NaN fillers. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`
  warnings.warn(f"Missing frames encountered for forager {f}, adding NaN fillers. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`")

In [5]:
display(foragers_object.foragers)

[     x    y  time  forager
 0  3.0  2.0     0      0.0
 1  3.0  1.0     1      0.0
 2  3.0  3.0     2      0.0
 3  5.0  1.0     3      0.0
 4  NaN  NaN     4      0.0,
      x    y  time  forager
 0  2.0  5.0     0      1.0
 1  NaN  NaN     1      1.0
 2  4.0  3.0     2      1.0
 3  2.0  1.0     3      1.0
 4  NaN  NaN     4      1.0,
      x    y  time  forager
 0  2.0  3.0     0      2.0
 1  2.0  1.0     1      2.0
 2  NaN  NaN     2      2.0
 3  1.0  2.0     3      2.0
 4  NaN  NaN     4      2.0]

In [6]:
foragers_object.calculate_step_size_max()
foragers_object.step_size_max

2.0