In [1]:
import numpy as np
import pandas as pd

# Generate test data

In [2]:
num_frames = 10
num_foragers = 3

np.random.seed(0)

data = {
    "x": np.random.randn(num_frames * num_foragers),
    "y": np.random.randn(num_frames * num_foragers),
    "time": np.tile(np.arange(num_frames), num_foragers),
    "forager": np.concatenate([i * np.ones(num_frames) for i in range(num_foragers)]),
}
foragersDF = pd.DataFrame(data)

# add nan values
nan_ind = [4, 9, 6]
foragersDF.loc[nan_ind, ["x", "y"]] = np.nan

# remove values for certain time points
drop_ind = [12, 6, 14]
drop_t = foragersDF["time"][drop_ind].to_list()
drop_f = foragersDF["forager"][drop_ind].to_list()
foragersDF = foragersDF.drop(drop_ind)

foragersDF

           x         y  time  forager
0   1.764052  0.154947     0      0.0
1   0.400157  0.378163     1      0.0
2   0.978738 -0.887786     2      0.0
3   2.240893 -1.980796     3      0.0
4        NaN       NaN     4      0.0
5  -0.977278  0.156349     5      0.0
7  -0.151357  1.202380     7      0.0
8  -0.103219 -0.387327     8      0.0
9        NaN       NaN     9      0.0
10  0.144044 -1.048553     0      1.0
11  1.454274 -1.420018     1      1.0
13  0.121675  1.950775     3      1.0
15  0.333674 -0.438074     5      1.0
16  1.494079 -1.252795     6      1.0
17 -0.205158  0.777490     7      1.0
18  0.313068 -1.613898     8      1.0
19 -0.854096 -0.212740     9      1.0
20 -2.552990 -0.895467     0      2.0
21  0.653619  0.386902     1      2.0
22  0.864436 -0.510805     2      2.0
23 -0.742165 -1.180632     3      2.0
24  2.269755 -0.028182     4      2.0
25 -1.454366  0.428332     5      2.0
26  0.045759  0.066517     6      2.0
27 -0.187184  0.302472     7      2.0
28  1.532779 -0.634322     8      2.0
29  1.469359 -0.362741     9      2.0

# Object creation functions 
dataObject(df) must display a warning when df contains nans and/or if any timeframes are incomplete

In [3]:
from collab2.foraging.toolkit import (
    dataObject,
    rescale_to_grid,
    subsample_frames_constant_frame_rate,
    subset_frames_evenly_spaced,
)

In [4]:
# rescale to grid
L = 3
grid_size = 5
foragersDF_scaled = rescale_to_grid(foragersDF, grid_size, -L, L)
display(foragersDF_scaled)

      x    y  time  forager
0   3.0  2.0     0      0.0
1   2.0  2.0     1      0.0
2   3.0  1.0     2      0.0
3   4.0  0.0     3      0.0
4   NaN  NaN     4      0.0
5   1.0  2.0     5      0.0
7   2.0  3.0     7      0.0
8   2.0  2.0     8      0.0
9   NaN  NaN     9      0.0
10  2.0  1.0     0      1.0
11  3.0  1.0     1      1.0
13  2.0  4.0     3      1.0
15  2.0  2.0     5      1.0
16  3.0  1.0     6      1.0
17  2.0  3.0     7      1.0
18  2.0  1.0     8      1.0
19  1.0  2.0     9      1.0
20  0.0  1.0     0      2.0
21  3.0  2.0     1      2.0
22  3.0  2.0     2      2.0
23  1.0  1.0     3      2.0
24  4.0  2.0     4      2.0
25  1.0  2.0     5      2.0
26  2.0  2.0     6      2.0
27  2.0  2.0     7      2.0
28  3.0  1.0     8      2.0
29  3.0  2.0     9      2.0

In [5]:
# subsampling in time can be done two ways.
foragersDF_scaled_subsample1 = subsample_frames_constant_frame_rate(
    foragersDF_scaled, frame_spacing=2
)
print("\n")
foragersDF_scaled_subsample2 = subset_frames_evenly_spaced(
    foragersDF_scaled, desired_frames=5
)

original_frames: 10
original_shape: (27, 4)
resulting_frames: 5
resulting_shape: (12, 4)


original_frames: 10
original_shape: (27, 4)
resulting_frames: 5
resulting_shape: (15, 4)

In [6]:
foragers_object1 = dataObject(foragersDF_scaled_subsample1)
foragers_object2 = dataObject(foragersDF_scaled_subsample2)

/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:29: UserWarning: Nan values in data. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`
  warnings.warn(f"Nan values in data. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`")
/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:40: UserWarning: Missing frames encountered for forager 0, adding NaN fillers. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`
  warnings.warn(f"Missing frames encountered for forager {f}, adding NaN fillers. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`")
/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:40: UserWarning: Missing frames encountered for forager 1, adding NaN fillers. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`
  warnings.warn(f"Missing frames encountered for forager {f}, adding NaN fillers. Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`")

In [7]:
display(foragers_object1.foragers)
print("\n")
display(foragers_object2.foragers)

[     x    y  time  forager
 0  3.0  2.0     0      0.0
 1  3.0  1.0     1      0.0
 2  NaN  NaN     2      0.0
 3  NaN  NaN     3      0.0
 4  2.0  2.0     4      0.0,
      x    y  time  forager
 0  2.0  1.0     0      1.0
 1  NaN  NaN     1      1.0
 2  NaN  NaN     2      1.0
 3  3.0  1.0     3      1.0
 4  2.0  1.0     4      1.0,
      x    y  time  forager
 0  0.0  1.0     0      2.0
 1  3.0  2.0     1      2.0
 2  4.0  2.0     2      2.0
 3  2.0  2.0     3      2.0
 4  3.0  1.0     4      2.0]

[     x    y  time  forager
 0  3.0  2.0     0      0.0
 1  2.0  2.0     1      0.0
 2  4.0  0.0     2      0.0
 3  2.0  3.0     3      0.0
 4  2.0  2.0     4      0.0,
      x    y  time  forager
 0  2.0  1.0     0      1.0
 1  3.0  1.0     1      1.0
 2  2.0  4.0     2      1.0
 3  3.0  1.0     3      1.0
 4  2.0  1.0     4      1.0,
      x    y  time  forager
 0  0.0  1.0     0      2.0
 1  3.0  2.0     1      2.0
 2  1.0  1.0     2      2.0
 3  2.0  2.0     3      2.0
 4  3.0  1.0     4      2.0]

In [8]:
foragers_object1.calculate_step_size_max()
foragers_object1.step_size_max

3.0