In [1]:
import numpy as np
import pandas as pd

# Generate test data

In [2]:
num_frames = 10
num_foragers = 3

np.random.seed(42)

data = {
    "x": np.random.randn(num_frames * num_foragers),
    "y": np.random.randn(num_frames * num_foragers),
    "time": np.tile(np.arange(num_frames), num_foragers),
    "forager": np.concatenate([i * np.ones(num_frames) for i in range(num_foragers)]),
}
foragersDF = pd.DataFrame(data)

# add nan values
nan_ind = [4, 9, 20]
foragersDF.loc[nan_ind, ["x", "y"]] = np.nan

# remove values for certain time points
drop_ind = [12, 6, 14]
drop_t = foragersDF["time"][drop_ind].to_list()
drop_f = foragersDF["forager"][drop_ind].to_list()
foragersDF = foragersDF.drop(drop_ind)

foragersDF

           x         y  time  forager
0   0.496714 -0.601707     0      0.0
1  -0.138264  1.852278     1      0.0
2   0.647689 -0.013497     2      0.0
3   1.523030 -1.057711     3      0.0
4        NaN       NaN     4      0.0
5  -0.234137 -1.220844     5      0.0
7   0.767435 -1.959670     7      0.0
8  -0.469474 -1.328186     8      0.0
9        NaN       NaN     9      0.0
10 -0.463418  0.738467     0      1.0
11 -0.465730  0.171368     1      1.0
13 -1.913280 -0.301104     3      1.0
15 -0.562288 -0.719844     5      1.0
16 -1.012831 -0.460639     6      1.0
17  0.314247  1.057122     7      1.0
18 -0.908024  0.343618     8      1.0
19 -1.412304 -1.763040     9      1.0
20       NaN       NaN     0      2.0
21 -0.225776 -0.385082     1      2.0
22  0.067528 -0.676922     2      2.0
23 -1.424748  0.611676     3      2.0
24 -0.544383  1.031000     4      2.0
25  0.110923  0.931280     5      2.0
26 -1.150994 -0.839218     6      2.0
27  0.375698 -0.309212     7      2.0
28 -0.600639  0.331263     8      2.0
29 -0.291694  0.975545     9      2.0

# Object creation functions 
dataObject(df) must display a warning when df contains nans and/or if any timeframes are incomplete

In [3]:
from collab2.foraging.toolkit import (
    dataObject,
    rescale_to_grid,
    subset_frames_evenly_spaced,
)

foragersDF_scaled = rescale_to_grid(foragersDF, size=5)
foragersDF_scaled_subsampled = subset_frames_evenly_spaced(foragersDF_scaled, 8)

original_frames: 9
original_shape: (27, 4)
resulting_frames: 8
resulting_shape: (22, 4)
min_time 1
max_time 8

In [4]:
foragers_object = dataObject(foragersDF_scaled_subsampled)

/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:36: UserWarning: Nan values in data. Specify handling of missing data using skip_incomplete_frames argument to generate_all_predictors
  warnings.warn(f"Nan values in data. Specify handling of missing data using skip_incomplete_frames argument to generate_all_predictors")
/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:44: UserWarning: Incomplete frames in data. Specify handling of missing data using skip_incomplete_frames argument to generate_all_predictors
  warnings.warn(f"Incomplete frames in data. Specify handling of missing data using skip_incomplete_frames argument to generate_all_predictors")

In [5]:
foragersDF_scaled_subsampled.dropna()  # still contains missing data even if no nans

      x    y  time  forager
0   3.0  2.0     1      1.0
1   3.0  5.0     2      1.0
2   3.0  3.0     3      1.0
3   5.0  1.0     4      1.0
7   4.0  1.0     7      1.0
8   2.0  1.0     8      1.0
10  2.0  3.0     1      2.0
11  2.0  3.0     2      2.0
13  1.0  2.0     4      2.0
15  2.0  2.0     5      2.0
16  2.0  2.0     6      2.0
17  3.0  4.0     7      2.0
18  2.0  3.0     8      2.0
21  2.0  2.0     2      3.0
22  3.0  2.0     3      3.0
23  1.0  3.0     4      3.0
24  2.0  4.0     5      3.0
26  1.0  2.0     6      3.0
27  3.0  2.0     7      3.0
28  2.0  3.0     8      3.0

In [6]:
foragers_object2 = dataObject(foragersDF_scaled_subsampled.dropna())

/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:44: UserWarning: Incomplete frames in data. Specify handling of missing data using skip_incomplete_frames argument to generate_all_predictors
  warnings.warn(f"Incomplete frames in data. Specify handling of missing data using skip_incomplete_frames argument to generate_all_predictors")

In [7]:
foragers_object2.calculate_step_size_max()
foragers_object2.step_size_max

3.0